.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center p {
    margin-bottom: 30px;
}

.center h4{
    font-size: 22px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 1px;
}

.center span {
    color: rgb(81, 255, 0);
    font-weight: bold;
}

.line p{
    line-height: 2.9em;
}

.line section{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    border-bottom: solid rgb(224, 224, 224) .1px;

}

.ref {
    display:flex;
    align-items: center;
}

.ref input {
    max-width: 3%;
    margin: 0 15px;
}



@media only screen and (max-width: 600px) {
    .center h1 {
        font-size: 1.4em;
    }

    .ref h2{
        font-size: .8em;
    }
    
    .ref button{
        font-size: 0.6em;
        width: 20%;
    }
    
}